<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="C:\Users\Caio\Desktop\Fabrica3\index.js"></script>
</head>
<body>

<h2>Cadastre-se</h2>

    <form method="post">
    
    <div class="row">
        <div class="column-3 column label">
            <label for="name">Nome</label>
        </div>
        <div class="column-9 column input">
            <input type="text" name="nome" />
        </div>
    </div>
    <div class="row">
        <div class="column-3 column label">
            <label for="RA">RA</label>
        </div>
        <div class="column-9 column input">
            <input type="text" name="RA" />
        </div>
    </div>
    <div class="row">
        <div class="column-3 column label">
            <label for="course">Curso</label>
        </div>
        <div class="column-9 column input">
            <input type="text" name="Curso" />
            <input type="button" id="enviar" value="Logar">
        </div>
    </div>

</form>
    
</body>
</html>
